*{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-left: 0;
    
}
.links a{
    text-decoration: none;
    color: white;
    
}
.drwaish_image{
    width: 100px;
    height: 80px;
    border: 2px solid #f44336;
    border-radius: 60%;
    margin-right: 50px;
    position: relative;
    
    
}
.nav{
    width: 19%;
    height: 100%;
    position: fixed;
    background-color: #f44336;
    color: white;
    
}
.nav h3{
    
    margin-left: 20px;
    text-indent: 20px;
    
}
.nav h2{
    margin-top: 120px;
    margin-left: 40px;
}
.links{
    margin-block-start: 100px;
    transition: 0.6s ease;
    line-height: 40px;
}
.links a:hover{
    display: block;
    color: black;
    background-color: white;
    width: 250px;
    height: 40px;
    
    
}
.page{
    width: 77.45%;
    position: static;
    float: right;
    margin-left: 20px;
    
}
#services, #designers > p{
    font-size: small;
}
h1{
    font-size: 50px;
    color: #f44336;
}
.header{
    font-size: 80px;
    color:  black;
    margin-top: 105px;
    text-shadow: 4px 6px 0px rgba(0,0,0,0.5);
}
hr{
    width: 80px;
    display: block;
    height: 10px;
    border-radius: 8px;
    background-color: #f11d0e;

}
#images img{
    width: 580px;
    padding: 5px;
    opacity: 0.5;
}
#images img:hover{
    opacity: 1;
    cursor: pointer;
}
#designers img{
    width: 350px;
    height: 350px;
    padding: 5px;
    border:   #f44336 solid 3px;
    border-radius: 5%;
    opacity: 0.5;
    
}
#designers img:hover{
    opacity: 1;
    cursor: pointer;
}
input{
    width: 1120px;
    border: grey solid 2px;
    height: 40px;
    font-size: 20px;
}
button{
    width: 1130px;
    color: white;
    background-color:  #f44336;
    height: 50px;
    border: none;
    font-size: 22px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}
button:hover{
    background-color: orange;
    color: black;
    cursor: pointer;
    
}
.footer{
    background-color: rgba(248, 248, 248, 0.938);
    color: black;
    margin: 0;
    width: 100%;
    float: left;
    text-align: right;

}
.footer>p{
    margin-right: 50px;
    color: darkslategray;
}
